/* *,
*::before,
*::after {
  box-sizing: border-box;
}

.search-form {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
}

.search-form button {
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

button:hover {
  background: #0b7dda;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  height: 300px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;

  border-radius: 5px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.load-more.is-hidden {
  display: none;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143)); */
  font-family: sans-serif;
  color: whitesmoke;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}

.digree-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.digree-box span {
  margin-left: 10px;
  font-size: 30px;
}
.digree-box h2 {
  font-size: 40px;
}

.date {
  width: 490 px;
  height: 277 px;
  padding-top: 36 px;
  order-radius: 35 px;
  background-color: rgba(16, 33, 54, 0.59);
  margin: 0 auto;
  color: #fff;
  font-family: Lato;
  font-weight: 400;
  padding-top: 26 px;
}
